.window {
  width: 960px;
  height: 540px;
  margin: 20px auto 0 auto;
  overflow: hidden;
  background: #282c34;
  .display {
    position: relative;
    width: 100%;
    height: 100%;

    .block {
      position: absolute;
    }
    .targeted-block {
      border: 1px solid gray;
    }
  }
}