
.inventory-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 960px;
  height: 540px;
  background: rgba(0, 0, 0, 0.7);
  .inventory {
    width: 600px;
    height: 400px;
    background: #777777;
    border: 2px solid #aaaaaa;
  }
}