
.inventory-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 960px;
  height: 540px;
  background: rgba(0, 0, 0, 0.7);
  .inventory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 400px;
    background: #777777;
    border: 2px solid #aaaaaa;
    .craft-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 230px;
      .crafting-list {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        padding: 4px;
        .crafting-list-item {
          display: flex;
          align-items: center;
          width: 100%;
          border: 1px solid #555555;
          padding: 4px;
          &.craftable:hover {
            background: #888888;
          }
          .using-list {
            display: flex;
            justify-content: center;
            width: 50%;
          }
          .crafted-list {
            display: flex;
            justify-content: center;
            width: 50%;
          }
        }
      }
    }
    .items-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 220px;
      .items {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 4px;
      }
    }
    .item {
      width: 40px;
      height: 40px;
      border: 2px solid #aaaaaa;
    }
  }
}